@model StartupCentral.Models.LogLogin

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutGL.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LogLogin</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.datetime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.datetime)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LogLoginId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
